@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poltawski+Nowy:ital,wght@1,500&display=swap');
html { 
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-size: larger;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    font-family: 'Poltawski Nowy', serif;    
}